#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig SYSEVENT
	bool "Sysevent Driver Support"
	default n
	---help---
		This selection enables selection of common sysevent options. This
		option is enabled to support report sysevent.

if SYSEVENT

config SYSEVENT_DEV_PATH
	string "Sysevent Path"
	default "/dev/sysevent"

config SYSEVENT_DEV_FIFO_SIZE
	int "Sysevent device fifo buffer size"
	default 1024

endif # SYSEVENT
