#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig PCIE
	bool "Support for PCI-E Bus"
	default n
	---help---
		Enables support for the PCI-E bus.
		Backend bust be provided by per-arch or per-board implementation..

if PCIE
config PCIE_MAX_BDF
	hex "Maximum bdf to scan on PCI-E bus"
	default 0x10000
	---help---
		The maximum bdf number to be scaned on PCI-E bus

config MAX_IRQ_LINES
  int "Number of IRQ lines"
  default 128
  range 0 224
  help
    This option specifies the number of IRQ lines in the system. It
    determines the size of the _irq_to_interrupt_vector_table, which
    is used to track the association between vectors and IRQ numbers.

endif
