#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config CPUFREQ
	bool "cpufreq"
	default n
	---help---
		CPUFREQ

if CPUFREQ

choice
	prompt "CPUFREQ_DEFAULT_GOVERNOR"
	default CPUFREQ_DEFAULT_GOV_PERFORMANCE

config CPUFREQ_DEFAULT_GOV_PERFORMANCE
	bool "cpufreq_performance"
	---help---
		cpufreq_performance governor

config CPUFREQ_DEFAULT_GOV_POWERSAVE
	bool "cpufreq_powersave"
	---help---
		cpufreq_powersave governor

config CPUFREQ_DEFAULT_GOV_ONDEMAND
	bool "cpufreq_ondemand"
	---help---
		cpufreq_ondemand governor

if CPUFREQ_DEFAULT_GOV_ONDEMAND

config CPUFREQ_SAMPLE_RATE
	int "the default sample rate (us) to get the cpuload"
	default 1000000
	---help---
		Ondemand sample rate

config CPUFREQ_LOAD_THRESHOLD
	int "the default cpu load threshold up to max cpu freq"
	default 80
	---help---
		Ondemand cpu load threshold

endif

endchoice

endif
