#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config CPUFREQ
	bool "cpufreq"
	default n
	---help---
		CPUFREQ

if CPUFREQ

choice
	prompt "CPUFREQ_DEFAULT_GOVERNOR"
	default CPUFREQ_DEFAULT_GOV_PERFORMANCE

config CPUFREQ_DEFAULT_GOV_PERFORMANCE
	bool "cpufreq_performance"
	---help---
		cpufreq_performance governor

config CPUFREQ_DEFAULT_GOV_POWERSAVE
	bool "cpufreq_powersave"
	---help---
		cpufreq_powersave governor

endchoice

endif
