#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config FS_NOTIFY
	bool "FS Notify System"
	default n
	---help---
		The Fsnotify System

if FS_NOTIFY
config FS_NOTIFY_BUCKET_SIZE
	int "Dir hash bucket size"
	default 64

config FS_NOTIFY_MAX_EVENTS
	int "Max events in one notify device"
	default 1024

config FS_NOTIFY_FD_POLLWAITERS
	int "Max pollwaiters in one notify devcie"
	default 2

config FS_NOTIFY_OPEN_MONITOR
	bool "Enable notify_open"
	default n

config FS_NOTIFY_CLOSE_MONITOR
	bool "Enable notify_close"
	default n

config FS_NOTIFY_WRITE_MONITOR
	bool "Enable notify_write"
	default n

config FS_NOTIFY_READ_MONITOR
	bool "Enable notify_read"
	default n

endif # FS_NOTIFY
